{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout }}{{#*inline 'content'~}}
<div class="card mt-3">
    <div class="card-header fs-4 fw-semibold">
        Choose author to {{action}}...
    </div>
    <ul class="list-group list-group-flush">
        {{#each authors}}
        <li class="list-group-item">
            <a class="serif h5" href="{{author_url}}/{{../action}}">{{full_name}}</a>
        </li>
        {{/each}}
    </ul>
</div>
{{~/inline}}{{/catalog_layout}}
