{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout no_title=1}}{{#*inline 'content'~}}
<div class="fs-1">
    Delete inventory item: {{item.instance_id}}?
</div>

<div class="fs-5 fw-semibold my-4">
    <form action="{{item.book_instance_url}}/delete" method="POST">
        Are you sure?
        <a class="btn btn-secondary ms-4 fw-semibold text-decoration-none" role="button" href="/catalog/">Cancel</a>
        <button class="btn btn-danger ms-2 fw-semibold">Delete</button>
    </form>
</div>
{{~/inline}}{{/catalog_layout}}
