{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout no_back=1 stylesheet='/recent-carousel.css'}}{{#*inline 'content'~}}

<div class="crop">
    <div class="recently-added">
        <!--<div class="backdrop"></div>-->
        <div class="recent-overlay serif"><h2 class="fw-semibold">Recently Added</h2></div>
        <div class="camera">
            <!-- book model -->
            <div class="book-model">
                <div class="book-face book-front">Front</div>
                <div class="book-face book-left">Left</div>
                <div class="book-face book-right">Right</div>
                <div class="book-face book-top">Top</div>
                <div class="blob-shadow"></div>
            </div>
            <!-- /book model -->
        </div>
    </div>
</div>
{{~/inline}}{{/catalog_layout}}
