{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout title='Delete genre'}}{{#*inline 'content'~}}
<div class="card mt-4">
    <div class="card-header">
        Choose genre to delete...
    </div>
    <ul class="list-group list-group-flush">
        {{#each genres}}
        <li class="list-group-item">
            <a class="serif h5" href="{{genre_url}}/delete">{{name}}</a>
        </li>
        {{/each}}
    </ul>
</div>
{{~/inline}}{{/catalog_layout}}
