{{! This template populates catalog-layout.hbs }}
{{#> catalog_layout }}{{#*inline 'content'~}}

<ul class="list-group">
{{#each result}}
<li class="list-group-item">
    <a href="{{book_url}}" class="serif fs-5">{{title}}</a>
</li>
{{/each}}
</ul>

{{~/inline}}{{/catalog_layout}}
