<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="favicon.svg">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Voltaire&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/clean-pastel.css">
  <title>{{title}}</title>
</head>

<body>
  
  <div class="ambient-bg"></div>
  <div class="center-content">
  <h1>{{title}}</h1>
  <p>Welcome to the {{page}} webpage.</p>
  <div style="display: inline-flex; flex-flow: column; margin: 1rem; line-height: 1.8rem;">
    <a href="/lean">Check out a lean layout</a>
    <a href="/moo/15">Or try a dynamic-lookup layout</a>
    <a href="/db/status">Check the SQL server status</a>
    <a href="/catalog">Visit the library catalog</a>
    <form method="post" action="/lib/autoload">
      <input type="submit" value="autoload data">
    </form>
  </div>
  </div>

</body>
</html>
