:root {
  --light: #f0eeee;
  --light-shade: #eee9e9;
  --header-bg-overwrite: hsl(30, 97%, 92%);

  --primary: rgb(235, 37, 11);
  --primary-light: rgb(255, 105, 105);
  --primary-transparent: rgba(235, 37, 11, 0.25);
  --primary-dark: rgb(200, 39, 18);
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.nav-link {
  color: var(--primary-light) !important;
}

.card {
  box-shadow: 9px 9px 0px #0000ff14;
}

.reasonable-width {
  max-width: 800px;
}

header {
  border-bottom: 5px solid var(--primary);
}

.library-primary-bg {
  background-color: var(--primary);
}

.serif,
h1 {
  font-family: 'Roboto Slab', serif;
}

.shelf {
  background-image: url(/shelf.png);
  background-size: 100% auto;
  background-position-y: 70%;
}

body {
  background-color: var(--light-shade);
}

.card-header {
  --bs-card-cap-bg: var(--header-bg-overwrite);
}

.form-control:focus {
  box-shadow: 0 0 0 .25rem rgba(225, 34, 0, 0.25);
  border-color: var(--primary);
}

.btn-primary {
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: var(--primary-dark);
  --bs-btn-hover-bg: var(--primary-light);
  --bs-btn-hover-border-color: var(--primary);
  --bs-btn-active-bg: white;
  --bs-btn-active-color: var(--primary);
  --bs-btn-active-border-color: var(--primary);
}

.btn:disabled {
  --bs-btn-disabled-color: var(--primary);
  --bs-btn-disabled-bg: var(--light);
  --bs-btn-disabled-border-color: var(--primary);
}

.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.form-check-input:focus {
  border-color: var(--primary-light);
  box-shadow: 0 0 0 .25rem var(--primary-transparent);
}

.form-select:focus{
  border: 1px solid var(--primary-light);
  box-shadow: 0 0 0 .25rem var(--primary-transparent);
}

.min-tiny {
  min-width: 10rem;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: var(--primary-light);
  }
  .btn-toggle:active {
    color: var(--primary-light) !important;
    outline: 2px solid red !important;
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: var(--primary-light);
  }
  
.ui-button {
  position: relative;
  width: 32px;
  height: 32px;
  border: 1px #aaa solid;
}

.ui-button:hover {
  background-color: var(--primary-light);
}

.ui-button:active > img {
  filter: invert();
}

.ui-button:active {
  background-color: var(--light) !important;
  border: 1px var(--primary-light) solid !important;
}

.ui-button > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 20px;
}

.invert {
  filter: invert();
}
