:root {
  --light: hsl(0, 6%, 94%);
  --light-shade: hsl(35, 10%, 89%);
  --header-bg-overwrite: hsl(35, 10%, 96%);

  --primary: hsl(4, 85%, 52%);
  --primary-light: hsl(5, 100%, 68%);
  --primary-transparent: rgba(235, 37, 11, 0.25);
  --primary-dark: rgb(200, 39, 18);
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.d {
  border: 2px red dashed !important;
}

.nav-link {
  color: var(--primary-light) !important;
}

.card {
  box-shadow: 9px 9px 0px #00004014;
}

.reasonable-width {
  max-width: 730px;
}

.small-max-width {
  max-width: 400px;
}

header {
  border-bottom: 5px solid var(--primary);
}

.library-primary-bg {
  background-color: var(--primary);
}

.serif,
h1 {
  font-family: 'Roboto Slab', serif;
}

.shelf {
  background-image: url(/shelf.png);
  background-size: 100% auto;
  background-position-y: 70%;
}

body {
  background-color: var(--light-shade);
}

.card-header {
  --bs-card-cap-bg: var(--header-bg-overwrite);
}

.modal-header {
  background-color: var(--header-bg-overwrite);
}

.form-control:focus {
  box-shadow: 0 0 0 .25rem rgba(225, 34, 0, 0.25);
  border-color: var(--primary);
}

.btn-primary {
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: var(--primary-dark);
  --bs-btn-hover-bg: var(--primary-light);
  --bs-btn-hover-border-color: var(--primary);
  --bs-btn-active-bg: white;
  --bs-btn-active-color: var(--primary);
  --bs-btn-active-border-color: var(--primary);
}

.btn:disabled {
  --bs-btn-disabled-color: var(--primary);
  --bs-btn-disabled-bg: var(--light);
  --bs-btn-disabled-border-color: var(--primary);
}

.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.form-check-input:focus {
  border-color: var(--primary-light);
  box-shadow: 0 0 0 .25rem var(--primary-transparent);
}

.form-select:focus{
  border: 1px solid var(--primary-light);
  box-shadow: 0 0 0 .25rem var(--primary-transparent);
}

.min-tiny {
  min-width: 10rem;
  max-width: 10rem;
}

.required-star::after {
  content: '*';
  padding-left: 0.2em;
  display: inline-block;
  vertical-align: middle;
  font-size: 2em;
  line-height: 0px;
  color: var(--primary)
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: var(--primary-light);
  }
  .btn-toggle:active {
    color: var(--primary-light) !important;
    outline: 2px solid red !important;
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: var(--primary-light);
  }

.navbar-toggler {
  border: 2px solid #eee;
  border-radius: 5px;
}

.navbar-toggler img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.ui-button {
  position: relative;
  width: 32px;
  height: 32px;
  border: 1px #aaa solid;
  margin-left: 5px;
}

.ui-button:hover {
  background-color: var(--primary-light);
}

.ui-button:active > img {
  filter: invert();
}

.ui-button:active {
  background-color: var(--light) !important;
  border: 1px var(--primary-light) solid !important;
}

.ui-button > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 20px;
}

.ui-button-pair {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-content: baseline;
  padding-left: 0px;
  padding-right: 0px;
  width: 38px;
}

@media (max-width: 330px) {
  .tiny-padding-2 {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }
}

@media (min-width: 299.98px) {
  .ui-button-pair {
    width: 78px;
    min-width: 78px;
  }
}
@media (max-width: 299.98px) {
  .ui-button:nth-child(2) {
    margin-top: 5px;
  }
}

@media (min-width: 576px) {
  .status-holder {
    display:flex;
    justify-content: end !important;
    min-width: 7em;
  }
}

.invert {
  filter: invert();
}

.pe-almost-5 {
  padding-right: 2.5rem;
}

.flex-adaptive {
  flex-grow: 1;
  flex-shrink: 1;
  width: 1px;
}

.side-links {
  width: 145px !important;
}

.pagination-control {
  font-size: 1.05em;
  margin-right: 0.3em;
}

.pagination-control > * {
  display: inline-block;
  text-align: center;
  min-width: 1.7em;
  height: 1.9em;
  padding-top: 0.25em;
  margin-left: 0em;
  margin-right: 0em;
}

.pagination-control > a:hover {
  text-decoration: none;
  color: white;
  background-color: var(--primary-light);
  border-radius: 3px;
}

.pagination-control > a:active {
  text-decoration: underline;
  color: var(--primary);
  background-color: white;
}

.page-ellipsis {
  min-width: 0px;
  font-size: 0.9em;
}

.current-page {
  background-color: gainsboro;
  border-radius: 3px;
}

@media (max-width: 576px) {
  .side-links {
    background-color: var(--light) !important;
  }
}
