.dark-card {
    --charcoal: #222;
    background-color: var(--charcoal);
    border-radius: 8px;
}

.recent-outer {
    overflow: hidden;
    width: 100%;
    border-bottom-right-radius: 8px;
    
    background-image: radial-gradient(250px 100px at 25% 90%,
        var(--light-shade) 90%, var(--charcoal));
}

.book-info {
    z-index: 12;
    flex-shrink: 1;
    width: 100%;
    color: white;
    background-image: linear-gradient(-90deg, var(--charcoal) 30%, transparent 60%);
}

.top-bar {
    color: white;
}

.spotlight-pane {
    flex-shrink: 0;
    width: 300px;
    height: 300px;
}

.recently-added {
    z-index: 10;
    position: relative;
    height: 100%;
    width: 100%;

    --show-time: 3s;
    --book-height: 300px;
    --book-aspect: 0.6;
    --book-width: calc(var(--book-height) * var(--book-aspect));
    --book-depth: 50px;
    --book-color-rgb: 255 128 0;
}

.camera {
    z-index: 1;
    transform-style: preserve-3d;   
}

.camera-animate {
    animation: var(--show-time) normal infinite wiggle-camera linear;
}

@keyframes wiggle-camera {
    from {
        transform: perspective(800px) translate3d(0, 430px, -600px)
                    rotate3d(0.3,1,0.05, -5deg);
    }
    to {
        transform: perspective(800px) translate3d(0, 430px, -600px)
                    rotate3d(0.3,1,0.05, -35deg);
    }
}
.recent-overlay {
    z-index: 10;
    position: absolute;
    left: 1.25em;
    top: 0.15em;
    color: #ffa;
}

.book-model {
    position: absolute;
    top: 50%;
    left: 50%;
    height: var(--book-height);
    width: var(--book-width);

    transform-style: preserve-3d;
    transform: translateY(calc(-0.5 * var(--book-height)));
}

.book-model-animate {
    animation: var(--show-time) infinite normal presentBook;
}

@keyframes presentBook {
    0% {
        transform: translate3d(calc(-50% + 800px), -50%, 0);
    }
    40% {
        transform: translate3d(calc(-50% + 120px), -50%, 0);
    }
    80% {
        transform: translate3d(calc(-50% + 120px), -50%, 0);
    }
    100% {
        transform: translate3d(calc(-50% - 400px), -50%, -400px);
    }
}

.book-face {
    position:absolute;
    backface-visibility: hidden;
}

.book-front {
    height: var(--book-height);
    width: var(--book-width);
    background-color: rgb(var(--book-color-rgb));
    transform:  translateX(-50%) translateY(-50%)
                rotateY(0deg)
                translateZ(calc(var(--book-depth) / 2));
}

.book-front img {
    height: 100%;
}

.book-front-animate {
    animation: var(--show-time) infinite normal gleamFace;
}

.ambient-front {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #0004 2%, transparent 12%);
}

.ambient-right {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #0003, transparent 12%);
}

.book-left {
    height: var(--book-height);
    width: var(--book-depth);
    background-color: var(--primary);
    transform:  translateX(-50%) translateY(-50%)
                rotateY(-90deg)
                translateZ(calc(var(--book-width) / 2));
}

.book-right {
    height: var(--book-height);
    width: var(--book-depth);
    background-color: rgb(190, 185, 173);
    transform:  translateX(-50%) translateY(-50%)
                rotateY(90deg)
                translateZ(calc(var(--book-width) / 2));
}

.book-top {
    height: var(--book-depth);
    width: var(--book-width);
    background-color: rgb(237, 233, 222);
    transform:  translateX(-50%) translateY(-50%)
                rotateX(90deg)
                translateZ(calc(var(--book-height) / 2));
}

.ambient-before {
    position: absolute;
    height: calc(var(--book-height));
    width: var(--book-width);
    background-image: radial-gradient(calc(0.8 * var(--book-width)) 30% at 50% 0%, #2228 30%, transparent);
    transform:
        translateX(-50%)
        rotateX(90deg)
        translateY(50%)
        ;
}

.fake-depth-fog {
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 56%;
}

.fake-depth-fog-animate {
    animation: var(--show-time) fogFadeOut infinite;
}

@keyframes fogFadeOut {
    0% {
        background-color: var(--charcoal);
    }
    5% {
        background-color: var(--charcoal);
    }
    15% {
        background-color: transparent;
    }
    90% {
        background-color: transparent;
    }
    100% {
        background-color: var(--charcoal);
    }
}

.blob-shadow {
    position: absolute;
    height: var(--book-height);
    width: var(--book-width);
    background-image: radial-gradient(100px 70% at 50% 100%, #2226 50%, transparent);
}

.blob-shadow-animate {
    animation: var(--show-time) infinite normal skewShadow;
}

@keyframes gleamFace {
    from {
        filter: brightness(85%);
    }
    to {
        filter: brightness(120%);
    }
}

@keyframes skewShadow {
    from {
        transform:  
        translateX(-50%) translateY(-50%)
        rotateX(90deg)
        translateY(calc(var(--book-depth) / 2))
        skewX(-5deg)
        scaleY(0.7)
        translate3d(
            0,
            calc(var(--book-height) / -2),
            calc(var(--book-height) / -2)
        );
    }
    to {
        transform:  
        translateX(-50%) translateY(-50%)
        rotateX(90deg)
        translateY(calc(var(--book-depth) / 2))
        skewX(-45deg)
        scaleY(2.3)
        translate3d(
            0,
            calc(var(--book-height) / -2),
            calc(var(--book-height) / -2)
        );
    }
    
}